
# Maven
target/
*.jar
*.war
*.ear

# Eclipse / STS
.metadata/
bin/
.settings/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.iws


# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log



